dfn {
    font-weight: bold;
}

dl {
    text-indent: 4%;
}

dt {
    font-weight:bold;
    color: 3d5a6c;
}

dd {
    margin-bottom: 5px;
}

body {
    width: 75%;
    margin: 0 auto;
    padding: 0;
}

table, th, td {
    border: 5px solid white;
    border-collapse: collapse;

}

th, td {
    padding: 15px;
    background-color: #BCF4F5;
}

h1 {
    padding: 20px;
    background-color: #BCF4F5;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h4.center {
    text-align: center;
    margin: auto;
    font-size: x-large;
}

/* Centering images */
.container {
    display: flex;
    justify-content: center;
}

